<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Request fine location permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.gms.permission.SEND_GEOFENCE_EVENT"/>

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 📍 Geofence Broadcast Receiver -->
        <receiver android:name=".data.GeofenceReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.permission.SEND_GEOFENCE_EVENT">
            <intent-filter>
                <action android:name="com.google.android.gms.location.GeofenceTransitionsIntentService" />
            </intent-filter>
        </receiver>




    </application>

</manifest>
